<h1>My Book List</h1>
<nav class="navigation">
  <ul>
    <li><a href="/">View All Books</a></li>
    <li><a href="/add">Add a New Book</a></li>
    <li><a href="/searches">Searches</a></li>
  </ul>
</nav>
