<!DOCTYPE html>
<html>

<head></head>

<body>
  <h1></h1>
  <p><a href="/">Home</a></p>

  <ul>
    <% arrayOfItems.forEach(item => { %>
    <li><%= item.title %></li>
    <li><img src="<%= item.image %>"></li>
    <li><%= item.description %></li>
    <li></li>
    <% }); %>
  </ul>

 
</body>

</html>